<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">carinebraendle.com has everything you need to get your handmade and unique greeting card!</p>
                <a href="#" class="btn btn-default btn-xl">Order Now!</a>
            </div>
        </div>
    </div>
</section>
